.form
{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px;
   
}
input
{
   width: 100%;
    padding: 20px;
    margin:20px 0px ;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: gainsboro;
}
h2
{
    font-size: 50px;
}
button
{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(69, 69, 150);
    cursor: pointer;
    color: aliceblue;
}
p
{
    text-align: left;
    
}
.colorRed
{
    color: red;
}
.d-none
{
    display: none;
}