body
{
    background-color: #e5e5e5;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}
#snakeBoard
{
    background-color:#14213d;
    width: 100vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(21,1fr);
    grid-template-columns: repeat(21,1fr);
    box-shadow: 10px 10px 5px rgba(74, 92, 99, 0.788);
  
}
button
{
    right: 50px;
    width: 6vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    color: #d90429;
    background-color: #e5e5e5;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 34%;
    cursor: pointer;
}
.snake
{
background-color:#e5e5e5;
border: 0.25vmin solid black;
border-radius: 20%;
}
h1{
    font-size: 100px;
    margin: auto;
    text-shadow:  2px 2px 4px #000000;;
   
}
h2{
    align-items: center;
    justify-content: center;
    margin: 50px;
    
    display: flex;
}
.food
{
    background-color:#fca311;
border: 0.25vmin solid black;
border-radius: 80%;
}