body {
    /* background: #F0EBE3; */
    background-image: url("/module/images/home2.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    background: rgba(255, 252, 242, 0.4);
    position: relative;
    top: 100px;
    margin: auto;
    height: 544px;
    width: 1088px;
    border-radius: 25px;
}

#user,
#computer {
    color: #fffcf2;
    position: absolute;
    top: 12px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#user {
    left: 262px;
}

#computer {
    left: 806px;
}

#userpall,
#computerpall {
    position: absolute;
    background: #eb5e28;
    height: 72px;
    width: 10px;
    border-radius: 25px;
}

#ball {
    background-color: #252422;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
}

h1 {
    text-align: center;
    color: #eb5e28;
}

#comm {
    position: absolute;
    right: 50px;
    top: -100px;
    color: #fffcf2;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#username {
    position: absolute;
    left: 50px;
    top: -100px;
    color: #fffcf2;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h6 {
    position: absolute;
    margin-top: 1500px;
}

.backk {
    position: absolute;
    left: 15px;
    top: 30px;
    width: fit-content;
    border: 1px solid;
    border-color: #eb5e28;
    background-color: transparent;
    color: white;
    border-radius: 7px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.backk:hover {
    background-color: #eb5e28;
    transition-duration: 0.7s;
    color: #fffcf2;
}