body {
    background-color: #252422;
}

table {
    border: 2px solid;
    width: fit-content;
    margin-left: 450px;
    margin-top: 30px;
    background-color: #252422;
    position: fixed;
}

input {
    width: 70px;
    height: 70px;
    background-color: #121213;
    font-size: xx-large;
    color: azure;
    text-align: center;
    text-transform: uppercase;
}

#display {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: #EB5E28;
    position: fixed;
    right: 70px;
    top: 0px;
}

#score {
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    color: #EB5E28;
    position: fixed;
    right: 150px;
    top: 130px;
}

#h_score {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: #EB5E28;
    position: fixed;
    right: 170px;
    top: 220px;
}

#newIcon {
    position: fixed;
    right: 150px;
    bottom: 100px;
    width: 170px;
    height: 170px;
    cursor: pointer;
}

.reset {
    position: absolute;
    left: 505px;
    bottom: 40px;
    width: fit-content;
    border: 1px solid;
    border-color: #EB5E28;
    border-radius: 7px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.reset:hover {
    background-color: #EB5E28;
    transition-duration: 0.7s;
    color: white;
}