<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="game.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div id="game">
      <div
        style="width: 100px; height: 100px; background-color: aquamarine"
        id="card"
        onclick="cardClick()"
      >
        Click to start
      </div>
      <div id="timer"></div>
      <button style="display: none" onclick="correctGuess()" id="correctButton">
        Correct
      </button>
    </div>
    <div id="winner"></div>
  </body>
</html>
