.container
{
    width: 500px;
    height: 400px;
    margin: auto;
    border: 4px solid black;
    position: relative;
    /* background-color: black; */
}
.ball
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    top:200px;
    position: absolute;
}
.hit
{
    width: 100px;
    height: 20px;
    bottom: 0;
    /*left: 150px;*/
    position: absolute;
    background-color: rgb(102, 102, 163);
}
.hited
{
    width: 60px;
    height: 10px;
    background-color: grey;
    margin: 4px;
}
.parentHited
{
    position: absolute;
    width: 500px;
    height: 100px;
    /*background-color: green;*/
    display: flex;
    flex-wrap:wrap;
}